.mapSection {
  width: 100%;
  padding: 0;
  background-color: #f5f5f5;
}

.mapContainer {
  width: 100%;
  height: 500px;
  position: relative;
}

.mapContainer iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  .mapContainer {
    height: 400px;
  }
}
